<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   ExtractCommonResource

   Created by Zou Tan on 2019/3/26.
   Copyright (c) 2019 ND. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
